<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>The Rise of Chance in Evolutionary Theory</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css"
    />
    {{ $style := resources.Get "css/chance.scss" | toCSS | minify | fingerprint
    }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    {{ block "main" . }}{{ end }}

    <!-- JS is only really required on the lesson pages -->
    {{ $js := resources.Get "js/chance.js" | js.Build "chance.js" }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
  </body>
</html>
