<div class="pure-g">
  <div class="footer pure-u-1 l-box is-center">
    <p>
      <small
        >Copyright &copy; 2021–2022 Charles Pence; website content released
        under
        <a href="https://creativecommons.org/licenses/by/4.0/"
          >CC-BY 4.0.</a
        ></small
      >
    </p>
  </div>
</div>
